body {
	background-color:#F3F4F9;
	margin: 0;
}

.imgstyle {
	display: block;
}
nav {
}
  nav a {
 }
  nav a:hover {
  }
  #logo {
  }
  nav {
  width: 100%; 
  height: 38px; 
  background-color: #17b0cf;
  padding-top: 1px;
}
  nav a {
 }
  nav a:hover {
  }
  #logo {
  }
  nav {
  width: 100%;
  background-color: #17b0cf;
}
  nav a {
    display: block; 
    
 }
  nav a:hover {
  }
  #logo {
  }
  nav a {
    display: block;
    float: left;
    font-family: sans-serif;
    font-size: 9px;
    color: white;
    background-color: #17b0cf;
   
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-decoration: none;
}
#logo {
 
  font-family: 'Hind', sans-serif;
  font-size: 30px;
  letter-spacing: -2px;
  text-shadow: 1px 1px 2px #c4c4c4;

  padding-left: 20px;
  padding-right: 40px;
  margin-right: 10px;
  margin-top: -20px;
  }
 #blockquote {
background-color: #726E6E;
color: #E5DDDD;
font-style: oblique;
font-weight: 600;
font-size: 15px;
letter-spacing: 2px;
padding-left: 0px;
padding: 20px;
text-align: justify;
 }
 .h1{
 	padding-left: 18px;
 	color: #17b0cf;
 	font-family: 'Hind', sans-serif;
 	font-weight: 550;
 
 }
 .parag{
 	color: #535252;
 	font-family: 'Hind', sans-serif;
 	font-size: 15px;
 	text-align: justify;
 	line-height: 1.5; 
 	padding-right: 20px;
 }
 .mepic{
 	padding-left: 18px;
 	float: left; 
 	padding-right: 15px;

 }

 .michael {
 	padding-left: 200px;
 	color: #E3D545;
 	font-size: 17px;
 }

.iframe{
	padding-left: 50px;
}

#greybg{
    background: #CFD5D1;
    padding-bottom: 20px;
    padding-top: 10px;
}

 .case{
 	color: #535252;
 	font-family: 'Hind', sans-serif;
 	font-size: 15px;
 	text-align: justify;
 	line-height: 1.5; 
 	padding-left: 18px;
 }

 

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

 * {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}